body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

.nav{
    width: 100%;
    background-color: #b1926a;
    height: 95px;
}
.bag{
    background-color: #b1926a;
    width: 100%;
    height: 95px;
    
   
}
.bag a{
    color: aliceblue;
    text-decoration: none;
    float: left;
    padding: 20px 10px 0px 0px;
    position: relative;
    left: 150px;
    font-size: 20px;
    margin: 0px 10px  15px 20px;
}
span.zip1{
    color: aliceblue;
    position: relative;
    top: 18px;
    right: 40px;
}
span.zip2{
    color: aliceblue;
    position: relative;
    top: 20px;
    left: 40px;
}
span.icoe{
    color: aliceblue;
    position: relative;
    left: 870px;
    word-spacing: 10px;
    top: 20px;
    font-size: 20px;
   
}

.navbar{

    background-color:white;
    width: 70%;
    height: 70px;
    border-radius: 35px;
    margin-top: 20px;
    position: relative;
    left: 205px;
    bottom: 60px;
    z-index: 1; 
}
.navbar ul{
    list-style-type: none;
    display: flex;
    position: relative;
    left: 160px;
    top: 25px;
    gap: 25px;
}
.navbar a{
    bottom: 250px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.navbar .fb1{
    color: rgb(237, 168, 40);
    position: relative;
    bottom: 20px;
    font-size: 46px;
    margin-left: 10px;
}
.navbar .fb2{
    position: relative;
    bottom: 20px;
    color: rgb(120, 58, 14);
    text-transform: uppercase;
    font-size: 46px;
    margin-right: 10px;
}
/* END NAVBAR */
.container{
    width: 100%;    
}
.img_back{
    background-image: url(./images/Screenshot_20250803_175830_Google.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    
}
/* feedbackform */
.containerForm{
    width: 80%;
    height: 600px;
    display: flex;
    margin: 100px 0px;
    position: relative; 
    left: 160px;
}
.comp{
    height: 600px;
    width: 50%;
    float: left;

}
.comp img{
    width: 650px;
    height: 600px;
    border-radius: 35px 0px 0px 0px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    
}
.feedback_Form{
    background-color: rgb(237, 168, 40);
    float: right;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 35px 0px;
}
.heading h3{
    color:rgb(82, 38, 7);
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 10px;
}

 
.feedback_Form form{
    height: 600px;
    
}
.fields input{
    width: 80%;
    border-radius: 5px;
    margin-top: 18px;
    padding-left: 30px;
    border: none;
    height: 40px;
}
.icon{
    position: relative;
    left: 30px;
    top: 2px;
    color: goldenrod;
  
}
.fields textarea{
    width: 85%;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 20px;
    border: none;
    height: 100px;
}

.rkn-feedback button{
   width: 80%;
   margin-left: 25px;
    margin-top: 18px;
   background-color: #b1926a;
   border-radius: 35px;
   border: none;
   height: 50px;
   color: white;
   text-transform: uppercase;
   font-size: 20px;
}



  

.chair{
    position: relative;
    top: 10px;
    left: 500px;
    color:white;
    font-size: 30px;
}

.wire{
    background-color: #b1926a;
    height: 370px;
    width: 48%;
    border-radius: 30px 0px 30px 0px;
    margin-left: 20px;
    display: flex;
  
}

.quotes{
    width: 200px;
    padding-left: 25px;
}

.quotes h2{
    font-size: 28px;
    color: rgb(82, 38, 7);
    text-transform: capitalize;
    position: relative;
    bottom: 190px;
    right: 3px;
   
}
.quotes h1{
    font-size:100px;
    color: rgb(82, 38, 7);
    position: relative;
    bottom: 130px;
    
}
.quotes h3{
    text-transform: uppercase;
    font-size: 18px;
    top:  0px;
    color: rgb(82, 38, 7);

}
.rectImg{
    background-color: rgb(237, 168, 40);
    width: 80px;
    margin: 30px 100px;
    
}
.pic{
    background-image: url(./images/pple.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    right: 46px;
    top: 55px;
}
.text{
    width: 250px;
    padding: 20px 5px 10px 5px;

}
.text p{
    font-size: 23px;
    padding-top: 10px;
    color: rgb(82, 38, 7);
}
    

.container3{
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    display: flex;
    
}

/* ABOUT*/
.aboutus{
    width: 100%; 
    
 }
.image{
   width: 100%;
    height: 600px;
    background-image: url(./images/phne5.png);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.header{
    height: 650px;
    width: 100%;
    color: rgb(82, 38, 7);
    text-transform: capitalize;
    background-color: rgb(182, 178, 174);

}
.samsung{
    width: 100%;
    height: 650px;
    display: flex;
    
}
.samsung .textSumsung{
    width: 35%;
    height: 650px;
    
}
.samsung h2{
    font-size: 24px;
    text-align: left;
    color: rgb(82, 38, 7);
    padding-left: 30px;
   
}
.samsung p{
    font-size: 20px;
    color: rgb(82, 38, 7);
    text-transform: none;

}
.samsung button{
    background-color:rgb(82, 38, 7) ;
    color: aliceblue;
    border: none;
    border-radius: 25px;
    width: 40%;
    height: 40px;
    text-transform: capitalize;
    font-size: 20px;

}
.samsung button:hover{
    opacity: 0.4;
}
.crlimg{
     width: 30%;
    height: 650px;
    
}
.parag{
    width: 35%;
    height: 650px;

}
.pictu{
    background-image: url(./images/phne7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    padding-bottom: 60px;
}
.parag h1{
    font-size: 24px;
    text-align: left;
    color: rgb(82, 38, 7);
    padding-left: 30px;
    text-transform: capitalize;
}
.parag p{
     font-size: 24px;
    color: rgb(82, 38, 7);
    text-transform: none;
     padding-left: 30px;

}
.parag button{
     background-color:rgb(82, 38, 7) ;
    color: aliceblue;
    border: none;
    border-radius: 25px;
    width: 35%;
    height: 40px;
    text-transform: capitalize;
    font-size: 20px;
}
.parag button:hover{
    background-color: goldenrod;
}
/* TEAM */
.people{
    width: 100%;
    height: 550px;
    color: rgb(82, 38, 7);
}
.people h1{
    width: 80%;
    height: 100px;
    text-transform: capitalize;
    text-align: center;
  
}
.imgth{
    height: 300px;
   
}
.teamImg{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 6px solid goldenrod;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.teamImg{
    background-image: url(./images/pple1.png);
    
}
.teamImg2{
    background-image: url(./images/pple2.png);
}
.teamImg3{
    background-image: url(./images/pple4.png);
}
.imgth h3{
    text-transform: capitalize;
    font-size: 24px;
   
   
}
.imgth .imgth_txt{
    text-align: center;
   
}
.imgth .imgth_txt p{
    text-transform: capitalize;
    font-size: 20px;
   
}
.peopleImg{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}




/* hizi ni za service */
.servi{
    background-color: #cfc1ad;
    height: 150px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    padding-top: 70px;
    color: rgb(82, 38, 7);
}
.wrapper{
    width: 100%;
}
.wrapper.carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card{
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.carousel .card1{
    background:rgb(179, 167, 140);
}
.carousel .card2{
    background: goldenrod;
}
.carousel .card3{
    background-color:rgb(82, 38, 7);
}
.carousel .card4{
    background-color: rgb(237, 168, 40);
}
.carousel .card5{
    background-color: #630460;

}
.owl-dots{
    text-align: center;
    margin-top:40px ;
}
.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    border: 4px solid #0072bc !important;
    transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{
    background: #0072bc !important;
}

/* hizi ni za gallery */
.galler{
    width: 100%;
   
    background-color: rgb(179, 167, 140);
    position: relative;
    bottom: 120px;
   
}  
.galler h1,h3{
    text-align: center;
    text-transform: capitalize;
    color:rgb(82, 38, 7);
    font-size: 46px;
    position: relative;
    top: 60px;
    
}
.ideas{
    position: relative;
    border-radius:none ;
    top: 40px;
    width: 100%;
    height: 990px;
    display: inline-block;
   
    
}
.idea1 #imgidea{
    height: 350px;
    max-width: 400px;
    border-radius: 0px;
    padding-right: 60px;
}
.idea2 #imgidea{
    height: 350px;
    max-width: 400px;
    border-radius: 0px;
    position: absolute;
    right: 650px;
    top: 10px;
    
}
.idea3 #imgidea{
    height: 350px;
    max-width: 400px;
    border-radius: 0px;
    position: relative;
    bottom: 350px;
    left: 980px;
   
}
.idea4 #imgidea{
    height: 350px;
    max-width: 450px;
    border-radius: 0px;
    position: absolute;
    top: 400px;
}
.idea5 #imgidea{
    height: 350px;
   max-width: 350px;
    border-radius: 0px;
    position: absolute;
    bottom: 250px;
    left: 550px;

}
.idea6 #imgidea{
    height: 350px;
    max-width: 380px;
    border-radius: 0px;
    position: relative;
    bottom: 320px;
    left: 980px;

}
span.text2{
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 46px;
    color: rgb(82, 38, 7);
}


/* hizi ni za contact */
.conta{
    width: 80%;
    height: 800px;
    margin: 50px 100px 50px 150px;
   
    
}
.conta h1{
    text-align: center;
    text-transform: capitalize;
    color: rgb(82, 38, 7);
    font-size: 36px;
}
.formContact{
    width: 50%;
    height: 500px;
    border-radius: 30px 0px 0px 30px;
    background-color:  rgb(237, 168, 40);
    position: relative;
    left: 80px;
    float: left;
    padding-top: 20px;
}
.fieldConta input{
    width: 70%;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 18px;
    padding-left: 30px;
    border: none;
    height: 40px;
   
}
.fieldConta textarea{
    width: 75%;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 20px;
    border: none;
    height: 100px;
}
.fieldConta button{
    background-color: #b1926a;
    border-radius: 25px;
    border: none;
    color: white;
    margin-bottom: 30px;
    margin: 25px;
    height: 50px;
    width: 65%;
    text-align: center;
    font-size: 18px;
    text-transform:uppercase ;
    padding: 15px;
}

.map{
    width: 50%;
    float: right;
    position: relative;
    bottom: 15px;
  
}
.ico{
    color: rgb(82, 38, 7);
    text-align: center;
    padding-left: 500px;
    font-size: 24px;
}
.info span{
    color: rgb(82, 38, 7);
    text-transform: capitalize;
    font-size: 46px;
    
    position: absolute;
    bottom: 250px;
}
/* FOOTER */
footer{
    width: 100%;
    height: 400px;
    background-color: #ead3b0;
    padding-top: 30px;
}
.footer1{
    width: 100%;
    height: 150px;
   
}
.footer1 .word1{
    text-align: center;
    color: goldenrod;
    font-size: 46px;
    text-transform: capitalize;
}
.footer1 .word2{
  text-align: center;
  color: rgb(82, 38, 7);
  font-size: 46px;
  text-transform: uppercase;
} 
.text_footer{
    text-align: center;
    margin-bottom: 12px;
}
#icon_fa {
    font-size: 32px;
}
.icon_footer{
    text-align: center;
    color: rgb(82, 38, 7);
   
}
.icon_footer #icon_fa:hover{
    color: #cb8111;
   
}
.textFooterLeftRight{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.textFooterLeft{
    width: 45%;
    color: rgb(82, 38, 7);
    text-transform: capitalize;
    font-size: 26px;
}
.textFooterRight{
    text-transform: capitalize;
    font-size: 26px;
    color: rgb(82, 38, 7);
}
/* REVIEW */


.containerReview h1{
   text-transform: uppercase;
   font-size: 28px;
   text-align: center;
   color: rgb(82, 38, 7);
   font-family: 'Times New Roman', Times, serif;
}
.rating-number{
    font-size: 95px;
    padding-left: 100px;
    font-weight: bold;
    color: black;
    position: relative;
    top: 80px;
}

.stars{
    color: rgb(237, 168, 40);
    padding-left: 100px;
    margin-top: 60px;
}

.containerReview1 {
    max-width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    
}
.average-ratin{
    width: 25%;
    height: 200px;

}
.containerReview p{
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    margin-top: 2px;
}
.containerReview2 {
    width:40%;
    height: 500px;
    margin-top: 80px;

}
.box{
    width: 100px;
    height: 10px;
    background-color: goldenrod;
    margin-bottom: 30px;
}

.box1{
    background-color: blue;
    height: 20px;
    width: 80%;
    border-radius: 25px 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box2{
    background-color: blue;
    height:20px ;
    width: 60%;
    border-radius: 25px 25px;
    margin-bottom: 10px;
}
.box3{
    background-color: blue;
    height:20px ;
    width: 40%;
    border-radius: 25px 25px;
    margin-bottom: 10px; 
}
.box4{
    background-color: blue;
    height:20px ;
    width: 20%;
    border-radius: 25px 25px;
    margin-bottom: 10px; 
} 
.containerReview3{
    width: 35%;
    height: 200px;
    display: flex;
    margin-top: 80px;
    position: relative;
    margin-left: 30px;

}
.star{
    color: rgb(237, 168, 40);
    display: flex;
    right: 20px;
}
span{
    color: rgb(0, 149, 255);
    font-size: 25px;
}
.pen{
    color: rgb(237, 168, 40);
    display: flex;
    position: relative;
    right: 150px;
    top: 30px;

}
.pencils{
     color: rgb(237, 168, 40);
    display: flex;
    position: relative;
    right: 300px;
    top: 60px;
}
.ruler{
   color: rgb(237, 168, 40);
    display: flex; 
     position: relative;
    right: 450px;
    top: 90px;
}
.rubber{
    color: rgb(237, 168, 40);
    display: flex; 
     position: relative;
    right: 600px;
    top: 120px;
}
/* REVIEW */
.containerReview4{
    width: 100%;
    margin-top: 70px;
}
.review{
    width: 90%;
    height: 180px;
    display: flex;
    background-color: #ead3b0;
    margin: 20px 0px 20px 50px;    
    justify-content: center;
    
}
.containerReview4 h2{
    margin: 20px 0px 0px 40px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: black;
}
.imageReview{
    height: 180px;
    width: 50%;
    background-color: #b1926a;
    justify-content: center;
   
}
#review_img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 18px 0px 0px 35px;
    
}
.media{
    width: 30%;
    display: flex;
}
.textReview{
    width: 50%;
    height: 180px;
    display: block;
    background-color: #ead3b0;
}
.textReview #hunt p{
    font-size: 30px;
    font-weight: bold;
    padding: 25px 0px 0px 25px;
}

.textReview .image-inf p{
    font-size: 18px;
    padding: 10px 0px 0px 30px;
}

.starPara{
    padding: 40px 18px 5px 20px;
    width: 70%;    
}
.star2{
    display: flex;
    color: goldenrod;
    gap: 3px;
    margin-bottom: 10px;
}
.para3 p{
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    /* HOME */
    body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.nav{
    width: 100%;
    background-color: #b1926a;
    height: 95px;
}
.bag{
    background-color: #b1926a;
    width: 100%;
    height: 95px;
    
   
}
.bag a{
    left: 100px;
    font-size: 16px;
}
span.zip1{
    position: relative;
    top: 18px;
    right: 80px;
}
span.zip2{
    position: relative;
    top: 20px;
    left: 1px;
}
span.icoe{
    position: relative;
    left: 250px;
    top: 20px;
   
}

.navbar{
    width: 75%;
    position: relative;
    left: 100px;
  
}
.navbar ul{
    position: relative;
    left: 1px;
    gap: 10px;
}
.navbar a{
    font-size: 16px;

}

.navbar .fb1{
    position: relative;
    bottom: 5px;
    font-size: 26px;

}
.navbar .fb2{
    position: relative;
    bottom: 5px;
    font-size: 26px;

}
.container{
    width: 100%;    
}
.comp{
    /* height: 600px;
    width: 50%; */
    display: none;

}

/* .comp img{
   gap: none;
    height: 450px;
    padding-left: 100px;
   
    
} */
.feedback_Form{
    width: 100%;
    height: 450px;

}
.containerForm{
    position: relative; 
    left: 80px;
}
.heading h3{
    margin-bottom: 50px;
    font-size: 18px;
   
}

form{
    padding-left: 20px;
    height: 30px;
    padding-top: 1px;
    
}
.fields input{
    padding-bottom: 10px;
    width: 70%;
    height: 20px;
   
}
input{
    margin-bottom: 2px;
    height: 28px;
    
}
.icons{
    top: 25px;
    left: 5px;
    
}
.fields textarea{
    width: 74%;
    height: 60px;
    /* justify-items: center; */
    /* margin-left: 3px; */
    
}

.rkn-feedback button{
    height: 40px;
    width: 74%; 
   margin-top: 15px;
    
} 
.container3{
    /* width: 100%; */
    height: 750px;
    /* gap: 20px; */
    /* justify-content: space-evenly; */
    display: block;
    
}


.chair{
    padding-left: 30px;
    /* top: 5px; */
    /* left: 250px; */
    /* color: black; */
   
}
.wire{
    background-color: #b1926a;
    height: 300px;
    width: 80%;
    position: relative;
    bottom: 50px;
    margin-bottom: 40px;
    left: 50px; 
   
    
    
}
.quotes{
    width: 200px;
    padding-left: 15px;
   
}

.quotes h2{
    font-size: 18px;
   
}
.quotes h3{
    font-size: 15px;
    

}
.rectImg{
    width: 60px;
    margin: 30px 5px;
    height: 250px;
    
}
.pic{
    width: 100px;
    height: 100px;
    right:20px;
 
}

.text p{
    font-size: 17px;
    padding: 10px 10px 15px 15px;
    
}
    


  /* ABOUT */
  .image{
    width: 100%;
    height: 400px;
    background-image: url(./images/phne5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    height: 1100px;
    width: 100%;
   text-transform: capitalize;
    background-color: rgb(175, 170, 166);
 }

.samsung{
     height: 1000px;
     background-color: gray;
    width: 100%;
    display: block;

    
}
 .samsung .textSumsung{
    width: 100%;
    height: 250px;
    text-align: justify;
   
    
}
.crlimg{
     width: 100%;
    height: 450px;
     margin: 30px 0px;
    }
.parag{
    width: 100%;
    height: 250px;

}

.pictu{
    background-image: url(./images/phne7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    
}
.people{
    width: 100%;
    color: rgb(82, 38, 7);
}
.txtPple{
    justify-content: center;
  
}
.peopleImg{
    justify-content: space-around;
   
}

.text_footer{
    text-align: center;
    margin-bottom: 12px;
}
 
.icon_footer{
    text-align: center;
    color: rgb(82, 38, 7);
   
}

.footer1 {
    text-align: center;
}
.footer1 .word1{
    font-size: 34px;
}
.footer1 .word2{
  font-size: 34px;
} 
#icon_fa {
    font-size: 32px;
}

.textFooterLeft, .textFooterRight{
    font-size: 22px;
}
/* REVIEW */
.rating-number{
    font-size: 56px;
    padding-left: 60px;

}

.stars{
    padding-left: 60px;
    margin-top: 70px;
}

.containerReview p{
     font-size: 16px;
}
.review{
    width: 90%;
    height: 350px;
    display: block;
    margin: 20px 0px 20px 50px;    
    justify-content: center;
    
}


/* REVIEW-conti.. */

.media{
    width: 100%;
    display: flex;
    height: 100px;
   
}
.imageReview{
    width: 20%;
    height: 130px;
    background-color: #b1926a;
   
}
#review_img{
    height: 90px;
    width: 90px;
    margin: 20px 0px 0px 25px;
   
}
.textReview{
    background-color: #b1926a;
    width: 80%;
    height: 130px;
    display: block;
}
.textReview #hunt p{
    font-size: 25px;
    font-weight: bold;
    padding: 25px 0px 0px 10px;
}

.textReview .image-inf p{
    font-size: 16px;
    padding: 0px 0px 0px 13px;
}
.starPara{
    height: 200px;
    width: 100%;    
    display: block;
}
.para3 p{
    font-size: 15px;
    padding: 10px;
}
.star2{
    margin-top: 15px;
}


.para3 .tel{
    font-size: 18px;
     width: 80%;
    position: absolute;
    left: 60px;

}


/* GALLERY */
.galler h1,h3{
    font-size: 36px;
   
    
}
.ideas{
    position: relative;
    border-radius:none ;
    top: 40px;
    width: 100%;
    height: 995px;
    display: inline-block;
   
    
}
.idea1 #imgidea{
    max-width: 250px;
    position: relative;
    left: 2px;
    height: 300px;
  
}
.idea2 #imgidea{
    height: 300px;
    max-width: 250px;
    border-radius: 0px;
    position: absolute;
    left: 350px;
    top: 10px;
    
}
.idea3 #imgidea{
    max-width: 250px;
    height: 300px;
    top: 20px;
    left: 2px;
   
}
.idea4 #imgidea{
    max-width: 250px;
    position: absolute;
    top: 330px;
    height: 300px;
    right: 150px;
}
.idea5 #imgidea{
   max-width: 250px;
   height: 300px;
    position: absolute;
    top: 650px;
    left: 10px;
}
.idea6 #imgidea{
    max-width: 250px;
    height: 300px;
    position: relative;
    top: 40px;
    left: 350px;

}

/* CONTACT */

.fieldConta{
    width: 70%;
    height: 60px;
   
}
.fieldConta input{
  font-size: 16px;
   
}
.fieldConta textarea{
    width: 80%;
    /* border-radius: 5px; */
    /* margin-top: 18px; */
    margin-left: 25px;
    font-size: 16px;
    /* border: none; */
    height: 80px;
}
.fieldConta button{
    width: 80%;
    font-size: 15px;
    text-transform:capitalize ;
    background-color: #b1926a;
    border-radius: 25px;
    border: none;
    color: white;
    margin-bottom: 30px;
    margin: 55px 15px 0px 25px;
    height: 40px;
    /* width: 65%; */
    text-align: center;
    /* font-size: 18px; */
    /* text-transform:uppercase ; */
    /* padding: 15px; */
    
    /* padding: 10px; */
}

.map{
    bottom: 16px;
}

}